<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="container center-align">
      <!--Sign up and back-->
      <div class="row mb-0">
        <div class="col s12">
          <a href="../views/verify.html" class="transparent black-text sing-up"><i class="large material-icons pink-text text-accent-4 left">navigate_before</i>Sign up</a>
        </div>
      </div>
      <!--Text-->
      <div class="row mb-0">
        <div class="col s12">
          <p class="m-0">Join now for free ride credit</p>
          <hr>
        </div>
      </div>
      <!--Register-->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail</i>
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        </form>
      </div>
      <!--Checkbox-->
      <div class="row">
        <div class="col s12">
          <p>
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box"><span>I agree to Lyft'ss <a>Terms of service</a></span></label>
          </p>
        </div>
      </div>
      <!--NEXT-->
      <div class="row">
        <div class="col s12">
          <button type="button" name="button" class="btn pink accent-4" disabled><a class="white-text" href="../views/confirm.html">NEXT</a></button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
