<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="container center-align">
      <!--Verify and back-->
      <div class="row mb-0">
        <div class="col s12">
          <a href="../views/signup.html" class="transparent black-text verify-number"><i class="large material-icons pink-text text-accent-4 left">navigate_before</i>Verify phone number</a>
        </div>
      </div>
      <div class="row mb-0">
        <div class="col s12">
          <hr>
        </div>
      </div>
      <div class="row center-align">
        <form class="col s12">
          <div class="row">
            <p class="col s2">LAB-</p>
            <div class="input-field col s6">
              <input class="col offset-s1 s2" id="first_code" pattern="[0-9]{1}" type="tel" class="validate">
              <input class="col offset-s1 s2" id="second_code" pattern="[0-9]{1}" type="tel" class="validate">
              <input class="col offset-s1 s2" id="third_code" pattern="[0-9]{1}" type="tel" class="validate">
            </div>
          </div>
        </form>
      </div>
      <!--Text-->
      <div class="row">
        <div class="col s12">
          <p class="m-0">Enter the code sent to +55<span id="number_user"></span></p>
        </div>
      </div>
      <!--Resend-->
      <div class="row">
        <div class="col s12">
          <button type="button" name="button"><a id="resend_code" class="black-text">Resend code</a></button>
        </div>
      </div>
      <!--NEXT-->
      <div class="row">
        <div class="col s12">
          <button id="next_button2" class="btn pink accent-4" type="button" name="button" disabled><a class="white-text" href="login.html">NEXT</a></button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
